#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p dist/bin
	CGO_ENABLED=0 go build -trimpath -ldflags="-s -w" -o dist/bin/jabridge .
	CGO_ENABLED=0 go build -trimpath -ldflags="-s -w" -o dist/bin/jafw ./cmd/jafw

override_dh_auto_install:
	install -Dm755 dist/bin/jabridge debian/jabridge/usr/bin/jabridge
	install -Dm755 dist/bin/jafw debian/jabridge/usr/bin/jafw
	install -Dm644 internal/completion/jabridge.bash debian/jabridge/usr/share/bash-completion/completions/jabridge
	install -Dm644 internal/completion/jafw.bash debian/jabridge/usr/share/bash-completion/completions/jafw

override_dh_auto_test:
	CGO_ENABLED=0 go test ./...
